.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 8px;
  background-color: black;

  color: white;

  font-family: "Carter One", cursive;

}

.header_left img {
  width: 50px;
}



.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  z-index: 1;

  position: fixed;
  top: 0;

  right: -100%;
  transition: 0.5s;

  background-color: black;
  opacity: 0.9;
}
.submenu {
  display: flex;
  flex-direction: column;
}

.crossIcon {
  color: white;
  font-size: 30px;

  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.crossIcon:hover {
  color: limegreen;
}

@media (max-width: 750px) {
  .header_middle h1 {
    font-size: 24px;
  }
}
